.dark-overlay{
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.mySpinner{
    position:absolute;
    top: 30vh;
    left: 50vw;
}